---
import Navbar from "../components/Navbar.astro";

// Server Only
const name = "Versanet Solutions!!";
const title = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
	<Navbar />
    <h1>{name}</h1>
    <p>momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-time"></p>

    <footer>Año 2023</footer>

    <script>
      // Client Only
      const realT = document.querySelector(
        "#current-time",
      ) as HTMLParagraphElement;
      const footer = document.querySelector("footer") as HTMLElement;

      const currentYear: number = new Date().getFullYear();
      const realTime: string = new Date().toLocaleTimeString();

      realT.innerText = `Momento actual real: ${realTime}`;
      footer.innerText = `Año actual: ${currentYear}`;
    </script>
  </body>
</html>
